{{- define "main" }}
  <article class="post">
    <header class="post-header">
      {{- if .Title }}
        <h1>{{ .Title | plainify }}</h1>
      {{- end }}

      {{- with .Params.Description -}}
        <h4>{{ . }}</h4>
      {{- end -}}
    </header>

    <div class="post-content">
        <h5>{{- with .Content }}
            {{ . }}
        {{- end }}</h5>
        
        {{ range $.Site.Data.cvex_data.cvex_v1.cvex_v1_directory }}
        <h3><strong>{{.cveid}}</strong> ⇄ <tt>{{ .id }}</tt></h3>
        <p><strong>Authors | </strong> {{ delimit .authors ", " }}</p>
        <p><strong>Docker Images ↴ </strong></p>
          {{range .images}}
            <ul>
              <li><tt>{{ . }}</tt></li>
            </ul>
            {{- end}}
            <p><strong>Short Description | </strong> {{.description}}</p>
      {{ end }}
    </div>

    <footer class="post-footer">
      {{- partial "pagination.html" . -}}
    </footer>
  </article>
{{- end }}
