{{- define "main" }}
  <article class="post">
    <header class="post-header">
      {{- if .Title }}
        <h1>{{ .Title | plainify }}</h1>
      {{- end }}

      {{- with .Params.Description -}}
        <h4>{{ . }}</h4>
      {{- end -}}
    </header>

    <div class="post-content">
        <h5>{{- with .Content }}
            {{ . }}
        {{- end }}</h5>
        
        <table>
          <tr>
            <th style="width:20%"><strong>CVEX LINK</strong></th>
            <th style="width:50%"><strong>Description</strong></th>
            <th style="width:30%"><strong>Images</strong></th>
          </tr>
          {{ range $.Site.Data.cvex_data.cvex_v2.cvex_v2_directory }}
          <tr>
            <td><tt><a href={{.link}}>{{ .cveid }}</a></tt></td>
            <!-- <td><tt><a href={{.link}}>{{.cvexid}}</a></tt></td> -->
            <td><strong>Author |</strong> <tt>{{ delimit .authors ", " }}</tt> <br> {{.description}}</td>
            <td><strong>Domain | </strong>{{.domain}}<br><details><small><tt>{{ range .images }}{{.}}<br>{{end}}</tt></small></details></td>
          </tr>
          {{- end}}
        </table>
    </div>

    <footer class="post-footer">
      {{- partial "pagination.html" . -}}
    </footer>
  </article>
{{- end }}
